<!DOCTYPE html>
<html>
<head>
    <title>Student Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div>
            <h3>Student Detail Page :</h3>
            <hr>
        
                {% if obj %}
                {% for student2 in obj %}
                
                {{ student2.name }}<br>
                {{ student2.email_id }}<br>
                {{ student2.contact_no }}<br>
                {{ student2.date }}<br>
                <hr>
                
                {% endfor %}
                {%  endif %}

    </div>
           
</body>
</html>
